section {
  padding-left: 3rem;
}

section div {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-bottom: 2.1rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  text-style: none;

  font-size: 1.3rem;
  color: #837E9F;
  cursor: pointer;
}